{% extends 'tracking/base.html' %}


{% block title %}
{% endblock %}

{% block content %}
<div class="list-group">
    {% if images %}
        {% for image in images %}
            <a href="{% url 'tracking:detailImages' image.short_id %}" class="list-group-item list-group-item-action">
                short_id: {{ image.short_id }}<br>
                Name: {{ image.attrs.RepoTags }}<br>
                Labels: 
                {% for key, value in image.attrs.Config.Labels.items %}
                    {{ key }}: {{ value }} |
                {% endfor %}
                <!-- Labels: {{ image.attrs.Config.Labels }} -->
                {% if image.attrs.DockerVersion %} DockerVersion: {{ image.attrs.DockerVersion }}<br> {% endif %}
                {% if image.attrs.ContainerConfig.Volumes %} Volumes: {{ image.attrs.ContainerConfig.Volumes }}<br> {% endif %}
                {% if image.attrs.ContainerConfig.WorkingDir %} WorkingDir: {{ image.attrs.ContainerConfig.WorkingDir }}<br> {% endif %}
            </a>
        {% endfor %}
    {% else %} <h1>No images</h1>
    {% endif %}
</div>
{% endblock %}
