{% extends 'tracking/base.html' %}

{% block title %}
    #{{container.short_id}}
{% endblock %}

{% block content %}
    {% for key, value in container.items %}
    {% if key == "GraphDriver"%}
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{ key }}
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{key}}: {{value}}
                </div>
              </div>
            </div>
        </div>
    {% elif key == "HostConfig"%}
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    {{ key }}
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{key}}: {{value}}
                </div>
              </div>
            </div>
        </div>
    {% elif key == "Config"%}
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    {{ key }}
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{key}}: {{value}}
                </div>
              </div>
            </div>
        </div>
    {% elif key == "NetworkSettings"%}
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    {{ key }}
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{key}}: {{value}}
                </div>
              </div>
            </div>
        </div>
    {%else%} {{key}}: {% if value == '' %} None {% else %}{{value}} {% endif %}
    {%endif%}
      <hr>
    {% endfor %}
    <!-- {{ container }}
    Hostname: {{container.Config.Hostname}} <br>
    Image: {{container.Config.Image}} <br> -->
    <!-- Networks: {{container.NetworkSettings.Networks}} <br> 
    {% if container.PortBindings %} PortBindings: {{container.PortBindings}}<br> {% endif %}
    Env: {{container.Config.Env}} <br>
    <br>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Networks
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {{container.NetworkSettings.Networks}}
            </div>
          </div>
        </div>
    </div> -->
{% endblock %}